Repository msg-company/big-project, changes with the owners that CODEOWNERS names for each.
All owners: @msg-company/maintainers, @msg-company/frontend-team, @msg-company/sso-team, @msg-company/backend-team, @msg-company/gateway-team, @msg-company/devops-team, @msg-company/core-team

chore: добавлен шаблон пулл-реквеста
  .github/pull_request_template.md
Owners: @msg-company/devops-team

chore: добавлены правила защиты веток
  .github/branch-protection.yml
  .github/workflows/branch-protection.yml
Owners: @msg-company/devops-team

feat: обновление настроек защиты ветки main
  .github/workflows/branch-protection.yml
Owners: @msg-company/devops-team

fix: исправлен путь к файлу в триггере workflow
  .github/workflows/branch-protection.yml
Owners: @msg-company/devops-team

fix: исправлено название разрешения для администратора
  .github/workflows/branch-protection.yml
Owners: @msg-company/devops-team

chore: удаление файлов автоматической настройки защиты
  .github/branch-protection.yml
  .github/workflows/branch-protection.yml
Owners: @msg-company/devops-team

chore: удаление файлов автоматической настройки защиты (#15)
  .github/branch-protection.yml
  .github/workflows/branch-protection.yml
Owners: @msg-company/devops-team

feat: добавлена поддержка фаззинг-тестирования
  .github/workflows/fuzzing.yml
  package.json
  turbo.json
Owners: @msg-company/devops-team, @msg-company/maintainers

fix: обновил конфигурацию turbo.json, заменил pipeline на tasks
  pnpm-lock.yaml
  turbo.json
Owners: @msg-company/maintainers

feat(deps): обновление конфигурации окружения и зависимостей
  .gitignore
  package.json
  packages/eslint-config/package.json
  packages/typescript-config/base.json
  pnpm-lock.yaml
  turbo.json
Owners: @msg-company/maintainers, @msg-company/core-team

refactor(backend): рефакторинг gateway сервиса
  apps/backend/gateway/package.json
  apps/backend/gateway/src/app.controller.ts
  apps/backend/gateway/src/app.module.ts
  apps/backend/gateway/src/app.service.ts
  apps/backend/gateway/src/main.ts
Owners: @msg-company/gateway-team

feat(frontend): обновление SSO приложения
  apps/frontend/sso/app/page.tsx
  apps/frontend/sso/package.json
Owners: @msg-company/sso-team

chore(ci): удаление устаревшего рабочего процесса fuzzing
  .github/workflows/fuzzing.yml
Owners: @msg-company/devops-team

ci(lighthouse): добавлена генерация env файлов перед сборкой SSO
  .github/workflows/lighthouse.yml
Owners: @msg-company/devops-team

ci(sonar): добавлен workflow для sonarqube сканирования и базовый конфиг проекта
  .github/workflows/build.yml
  sonar-project.properties
Owners: @msg-company/devops-team, @msg-company/maintainers

ci(sonar): настройка конфигурации для анализа кода в монорепозитории
  sonar-project.properties
Owners: @msg-company/maintainers

ci(sonar): обновлен workflow для полноценного сканирования монорепозитория
  .github/workflows/build.yml
Owners: @msg-company/devops-team

ci(sonar): добавлена установка pnpm в workflow
  .github/workflows/build.yml
Owners: @msg-company/devops-team

ci(sonar): добавлен явный параметр url sonarqube в workflow
  .github/workflows/build.yml
Owners: @msg-company/devops-team

ci(sonar): добавлен явный параметр url sonarqube
  .github/workflows/build.yml
Owners: @msg-company/devops-team

chore: remove workflow and sonar configuration files
  .github/workflows/build.yml
  sonar-project.properties
Owners: @msg-company/devops-team, @msg-company/maintainers

feat: add sonarqube configuration for turborepo project
  .github/workflows/sonarqube.yml
  package.json
  sonar-project.properties
Owners: @msg-company/devops-team, @msg-company/maintainers

fix: update sonarqube workflow to use pnpm
  .github/workflows/sonarqube.yml
Owners: @msg-company/devops-team

fix: remove test task from sonarqube workflow
  .github/workflows/sonarqube.yml
Owners: @msg-company/devops-team

feat: обновить workflow для сборки и анализа проекта
  .github/workflows/sonarqube.yml
Owners: @msg-company/devops-team

fix: обновить команду генерации env-файлов в workflow
  .github/workflows/sonarqube.yml
Owners: @msg-company/devops-team

chore: настроить sonarqube для монорепозитория
  .github/workflows/sonarqube.yml
  apps/backend/gateway/sonar-project.properties
  apps/backend/users-service/sonar-project.properties
  apps/frontend/sso/sonar-project.properties
Owners: @msg-company/devops-team, @msg-company/gateway-team, @msg-company/backend-team, @msg-company/sso-team

chore: обновить настройки sonarqube для монорепозитория
  .github/workflows/sonarqube.yml
  apps/backend/gateway/sonar-project.properties
  apps/backend/users-service/sonar-project.properties
  apps/frontend/sso/sonar-project.properties
Owners: @msg-company/devops-team, @msg-company/gateway-team, @msg-company/backend-team, @msg-company/sso-team

CODEOWNERS:

# Глобальные владельцы кода по умолчанию
* @msg-company/maintainers

# Frontend
/apps/frontend/ @msg-company/frontend-team
/apps/frontend/sso/ @msg-company/sso-team

# Backend
/apps/backend/ @msg-company/backend-team
/apps/backend/gateway/ @msg-company/gateway-team

# Инфраструктура и конфигурация
/.github/ @msg-company/devops-team
/docker/ @msg-company/devops-team
*.yml @msg-company/devops-team

# Пакеты и общие компоненты
/packages/ @msg-company/core-team
